<html>
  <head>
    <title>VSCode vs Sublime vs Atom packages count</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <script>
    var stats = {
      "vscode": <%= @stats[:vscode] %>,
      "sublime": <%= @stats[:sublime] %>,
      "atom": <%= @stats[:atom] %>
    }
  </script>
  <body>
    <h1>VSCode</h1>
    <p><%= @stats[:vscode] %></p>
    <h1>Sublime</h1>
    <p><%= @stats[:sublime] %></p>
    <h1>Atom</h1>
    <p><%= @stats[:atom] %></p>
  </body>
</html>
